.img{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.arrow{
    height: 45px;
    width: 2.5%;
    cursor: pointer;
}
.image-flex{
    height: 500px;
    width: 40%;
    object-fit: cover;
   
}
.image-counter {
    position: absolute;
    bottom: -30px;
    font-size: 20px;
}
