
.img{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.arrow{
    height: 45px;
    width: 2.5%;
    cursor: pointer;
}
.image-flex{
    width: 55%;
    cursor: pointer;
    object-fit: cover;
    border-radius: 30px;
}
.image-counter {
    position: absolute;
    bottom: -30px;
    font-size: 20px;
}
.background-color{
    background-color: #beb8b8;
}   
@media (min-width:320px) and (max-width: 425px) {
    .arrow {
        height: 30px;
        width: 10%; 
    }
    .left{
        position: absolute;
        z-index: 1;
        left: 20;
    }
    .right{
        position: absolute;
        z-index: 1;
        right: 20;
    }
    .image-flex{
        width: 90%;
        position: relative;
    }
    .image-counter {
        bottom: -20px;
        font-size: 16px;
    }
   
    
}
@media (min-width:768px) and (max-width:1024px) {
    .arrow {
        height: 40px;
        width: 5%; 
    }
    .image-flex{
        width: 80%;
        
    }
}   