
.img{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.arrow{
    height: 45px;
    width: 2.5%;
    cursor: pointer;
}
.image-flex{
    width: 40%;
    cursor: pointer;
    object-fit: cover;
   border-radius: 30px;
}
.image-counter {
    position: absolute;
    bottom: -30px;
    font-size: 20px;
}
.background-color{
    background-color: F8EDED;
    
}
@media only screen and (max-width: 700px) {
    .arrow {
        height: 30px;
        width: 5%;
    }
    .image-flex{
        position: relative;
    }
    .image-counter {
        bottom: -20px;
        font-size: 16px;
    }
   
    
}